@import url('../icon/icon.css');
@import url('./tooltip.css');
:root {
  --btn-border-color: #e6e6e6;
  --btn-background-color: #50b83c;
  --btn-text-color: #ffffff;
  --btn-hover-bgc: #57c841;
  --btn-active-bgc: #067933;
  --btn-icon-size: 20px;

  /* m-btn--second */
  --btn-second-text-color: #1f1f1f;
  --btn-second-bgc: #ffffff;
  --btn-second-hover-color: #06cb53;
  --btn-second-active-bgc: #f6f6f6;

  /* m-btn--icon */
  --btn-icon-hover-color: #06cb53;
  --btn-icon-active-bgc: rgba(80, 184, 60, 0.1);
  --btn-icon-active-color: #50b83c;

  /* m-btn--link */
  --btn-link-color: #50b83c;
  --btn-link-hover-color: #00c954;
  --btn-link-active-color: #008249;
}
/* BUTTON CƠ BẢN */

.m-btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  box-sizing: border-box;
}

.m-btn-small {
  height: 32px;
}

.m-btn-medium {
  height: 36px;
}

.m-btn-large {
  height: 40px;
}

.m-btn--disabled {
  opacity: 56%;
  /* background-color: transparent; */
}

.m-btn--disabled:hover {
  /* background-color: transparent; */
  cursor: unset;
}

.m-btn--disabled:active {
  background-color: unset;
}

button:disabled {
  opacity: 56%;
  /* background-color: transparent; */
}

button[disabled]:hover {
  /* background-color: transparent; */
  cursor: unset;
}

/* PRIMARY BUTTON */
.m-btn-primary {
  min-width: 80px;
  border-radius: 4px;
  padding: 0px 16px;
  color: var(--btn-text-color);
  background-color: var(--btn-background-color);
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  text-align: center;
  line-height: 36px;
  border: unset;
}

.m-btn-primary:hover {
  background-color: var(--btn-hover-bgc);
}

.m-btn-primary:active {
  background-color: var(--btn-active-bgc);
}

button[disabled].m-btn-primary:active {
  background-color: var(--btn-background-color);
}

/* SECOND BUTTON */
.m-btn-second {
  min-width: 80px;
  height: 36px;
  border-radius: 4px;
  padding: 0 16px;
  background-color: var(--btn-text-color);
  color: var(--btn-second-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  text-align: center;
  line-height: 36px;
  border: 1px solid var(--btn-border-color);
}

.m-btn-second:hover {
  color: var(--btn-second-hover-color);
  border-color: var(--btn-second-hover-color);
}

.m-btn-second:active {
  background-color: #f6f6f6;
  color: var(--btn-second-text-color);
  border-color: var(--btn-border-color);
}

/* LINK BUTTON */
.m-btn-link {
  width: auto;
  background-color: transparent;
  color: var(--btn-background-color);
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.m-btn-link:hover {
  color: #00c954;
}

.m-btn-link:active {
  color: #008249;
}

/* ICON BUTTON  */
.m-btn-icon {
  padding: 8px;
  width: 36px;
  box-sizing: border-box;
  background-color: var(--btn-text-color);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.m-btn-icon div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-btn-icon:hover {
  color: var(--btn-second-hover-color);
  border-color: var(--btn-second-hover-color);
}

.m-btn-icon:active {
  background-color: rgba(80, 184, 60, 0.1);
  color: var(--btn-background-color);
  border-color: var(--btn-background-color);
}

.m-btn--disabled {
  opacity: 56%;
  /* background-color: transparent; */
}

.m-btn--disabled:hover {
  /* background-color: transparent; */
  cursor: unset;
}

/* PRIMARY ICON BUTTON */
.m-btn-primary-icon {
  min-width: 80px;
  height: 36px;
  border-radius: 4px;
  padding: 0 16px 0 36px;
  background-color: var(--btn-background-color);
  color: var(--btn-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  text-align: center;
  line-height: 36px;
  border: unset;
  position: relative;
  box-sizing: border-box;
}

.m-btn-primary-icon i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  margin-right: 4px;
}

.m-btn-primary-icon .icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  margin-right: 4px;
}

.m-btn-primary-icon:hover {
  background-color: var(--btn-hover-bgc);
}

.m-btn-primary-icon:active {
  background-color: var(--btn-active-bgc);
}