.validation-body .import-errors {
  list-style: none;
  color: #e61d1d;
}

.validation-body ul {
  padding: 0;
}

.validation-body .table-container {
  height: calc(100% - 56px);
}

.validation-body .table-container {
  margin: 0;
  border: 1px solid #e0e0e0;
}

.validation-body .table-footer {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0 0 4px 4px;
}
