.employee-page-container {
  padding: 0px 24px 24px 24px;
  height: 100%;
  box-sizing: border-box;
}

/* HEADERl? */
.employee-page-header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-page-header__left .title{
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
}

/* BODY */
.employee-page-body {
  height: calc(100% - 68px);
  background-color: #fff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.039);
  border-radius: 4px;
}

/* BODY HEADER */

/* EMPLOYEE TABLE */
.employee-table {
  height: calc(100%);
}
/* .employee-page-body .header-right . */