.employee-page-container {
  padding: 0px 24px 24px 24px;
  height: 100%;
  box-sizing: border-box;
}

/* HEADERl? */
.employee-page-header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-page-header__left .title{
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
}

/* BODY */
.employee-page-body {
  height: calc(100% - 68px);
  background-color: #fff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.039);
  border-radius: 4px;
}

/* BODY HEADER */
.employee-page-body .header {
  height: 60px;
  background-color: #ffffff;
  border-radius: 4px;
}

.employee-page-body .header-left {
  justify-content: flex-start;
  margin-left: 12px;
  padding: 0px;
}

/*  MULTI ACTION  */
.employee-page-body .header-left .multi-action {
  display: flex;
  align-items: center;
}

.employee-page-body .header-left .multi-action__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: 12px;
  width: 80px;
}

.employee-page-body .header-left .multi-action__cancel {
  color: #e61d1d;
  margin: 0px 12px 0px 0px;
  border: 1px solid transparent;
}

.employee-page-body .header-left .multi-action__cancel:hover {
  background-color: #ebebeb;
}

.employee-page-body .header-left .multi-action__cancel:active {
  background-color: #eeeff1;
}

.employee-page-body .header-left .multi-action__delete {
  background-color: #f5f5f5;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.employee-page-body .header-left .multi-action__delete:hover {
  background-color: #ebebeb;
}

.employee-page-body .header-left .multi-action__delete:active {
  background-color: #eeeff1;
}

.employee-page-body .header-left .dropdown {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid ;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.employee-page-body .header-left .dropdown .context-menu-wrapper {
  position: relative;
}

.employee-page-body .header-left .dropdown .context-menu {
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 2;
  background-color: #fff;
}

.employee-page-body .header-left .dropdown .context-menu div {
  text-align: left;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding: 10px 12px;
  cursor: pointer;
}


.employee-page-body .header-left .dropdown i {
  padding-left: 4px;
}

.employee-page-body .header-right {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.employee-page-body .header-right .button-center {
  margin: 0px 4px 0px 8px;
}

.employee-page-body .header input[placeholder] {
  width: 230px;
}

.employee-page-body .header input[placeholder]::placeholder {
  font-style: italic;
}

/* EMPLOYEE TABLE */
.employee-table {
  height: calc(100% - 56px);
}
/* .employee-page-body .header-right . */